/* Project Two CSS Reset*/
html, body, div, span, h1, h2, h3, p, a, img, ul, li, nav, header, main, footer {
  margin:0;
  padding :0;
  border: 0;
  font-sized: 100%
  font: inherit;
  vertical-align: basline;
  }
  /*ensure HTML5 Displays correct*/
  header, nav, maiun, footer {
  display : block;
  }
  body {
    line-height:1;
  }
  ul {
    list-style :none;
    }