
    /*1. Header Styling */
h1,h2,h3,{
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  }
 p {
  font-family: Tahoma, Verdana, sans-serif;
}
li {
 background-color:gray;
 font-size:20px;
 }
 div{
  width :600px;
  height :600px;
  border :1px solid blue;
  margin :50px auto;
  background-color: yellowgreen
  background-image :url(images/yellowgreen.png);
  display:none;
  body {
  background-image :url(images/yellowgreen.png);
  
 }
  
.box {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(207 232 220);
  padding: 1em;
}