
    /*1. Header Styling */
h1,h2,h3,p {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
.box {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(207 232 220);
  padding: 1em;
}